.project {
    background: #FFFFFF;
    margin-top: 100px;
    width: 70%;

    .top {
        width: 100%;
        .title {
            display: flex;
            align-items: center;
            .circle {
                border-radius: 50%;
                width: 26px;
                height: 26px;
                background: linear-gradient(90.92deg, #FF8A64 -7.11%, #FFC39B 99.65%);
            }
            .text {
                margin: 0 17px 0 17px;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
                color: #130C61;
            }
            .btnShow {
                width: 86px;
                height: 32px;
                background-color: #ffffff;
                border: 1px solid #FF8A64;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 700;
                list-style: 18px;
                color: #FF8A64; 
            }
        }
        .desc {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #2F2F2F;
            margin-left: 32px;
        }
    }
    .bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
        .container {
            margin: 36px  32px 0 0;
            width: 320px;
            height: 437px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .title {
                margin-top: 15px;
                font-size: 20px;
                font-weight: 700;
                color: #2F2F2F
            }
            .tags {
                display: flex;
                align-items: center;
                list-style: none;
                .tag {
                    margin: 4px;
                    border-radius:5px;
                    padding:3px 7px;
                    background-color:#F6F6F6;
                    font-size: 10px;
                    font-weight:400;
                    line-height: 14px;
                    color: #130C61;
                }
            }
            .desc {
                margin-top: 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: #6f6f6f;
                margin: 12px 0;
            }
            .items {
                margin-top: 32px;
                display: flex;
                align-items: center;
                justify-content:center;
                .date {
                    display: flex;
                    align-items: center;
                    span {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #6f6f6f;
                    }
                }
                button {
                    height: 32px;
                    width: 88px;
                    left: 70.5px;
                    top: 243px;
                    border-radius: 5px;
                    padding: 7px, 26px, 7px, 26px;
                    border: 1px solid #1B3B6E;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #1B3B6E;
                    margin-left: 12px;
                    cursor: pointer;
                }
            }
        }
    }
}