.intro {
    width: 100%;
    height: 628px;
    display: flex;
    align-items: center;
    
    position: relative;
    .left {
        background-color:#ffffff;
        flex: 1;

       
        .text {
            position: absolute;
            bottom:30%;
            letter-spacing: 0.355em;
            left: -120px;
            width: 299px;
            height: 14px;
            line-height: 14px;
            text-align: center;
            font-size: 12px;
            font-weight:300;
            color: #6F6F6F;
            transform:  translateX(-50%) translateY(-50%) rotate(-90deg);

        }
        .container{
            margin-left: 223px;
            display: flex;
            flex-direction: column;

         
            .star {
                position:absolute;
                width: 18.17px; 
                height:18.17px;
                margin-right:  32px;
                left: 21.98%;
                right: 86.76%;
                top: 11.21%;
                bottom: 98.61%;
  
            }
            .title {
                word-break: break-word; 
                width: 590px;
                height:114px;
                color: #2F2F2F;
                font-family: 'Montserrat', sans-serif;
                font-size: 38px;
                font-weight: 700;
                line-height: 150%;  
                span {
                    line-height: 150%;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 38px;
                    font-weight: 700;
                    color:#FF8A64;
                    
                }
            }
        
            .desc {
                width: 540px;
               
                margin-top: 15px;
                height:72px;    
                font-family: 'Montserrat', sans-serif;
                font-weight:300;
                font-size: 16px;
                line-height: 150%;
                color: #2F2F2F; 
            }
            .wrapper {
                margin-top:42px;
                .btnGetStart {
                    cursor: pointer;
                    width: 193px;
                    height: 48px;
                    border-radius: 5px;
                    margin-right: 17px;
                    border: 1px solid #FF8A64;
                    background-color: #ffffff;
                    box-shadow: 26px 7px 45px rgba(239, 156, 156, 0.25);
                    color:#FF8A64;
                    font-size: 12px;
                    font-weight: 700;
                   
                }
                .btnSignIn {
                    cursor: pointer;
                    width: 193px;
                    height: 48px;
                    padding:7px, 20px, 7px, 20px;
                    background-color:#FF8A64;
                    border: none;   
                    border-radius: 5px;
                    color: #FFFFFF;
                    font-size: 12px;
                    font-weight: 700;
                }
            }
            .items {
                display:flex;
                margin-top:50px;
                align-items: center;
                justify-content: center;
                list-style: none;
                li {
                    padding:8px;
                }
            }
        }

    }
    .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .poster {
            margin-top:99px;
        }
        .btn {
            position: absolute;
            left: 60%;
            right: 14.64%;
            top: 16.56%;
            bottom: 76.91%;
            width: 195px;
            height: 41px;
            font-weight: 400;
            font-size: 13.67px;
            color:#473F9F;
            background-color: #ffffff;
            border:none;
            border-radius: 5px;
            box-shadow: 26px 7px 45px rgba(239, 156, 156, 0.25);    
            .blod {
                font-weight:700;
            }
        }
    }
}